/var/
/nbproject/
/.project
/.settings
.htaccess
/media/clnews/
/media/wysiwyg/
/downloader/
/media/tmp/catalog/product/i/
/magmi/*
magmi/*
app/etc/local.xml
skin/frontend/modacom/default/scss/.sass-cache
/downloader/*
/media/*
skin/frontend/modacom/default/css/styles.css.map
app/code/local/Pzdgmailcom
app/etc/modules/Pzdgmailcom_Commercebug.xml
js/commercebug