<?xml version="1.0"?>
<!-- 
/**
 * @category   Modacom
 * @package    Modacom_Slide
 * @author     Miroslav Petrov, Modacom <miroslav.petrov@modacom.com>
 */
 -->
<config>
    <modules>
        <Modacom_Slide>
            <version>0.1.0</version>
        </Modacom_Slide>
    </modules>
    <frontend>
        <layout>
            <updates>
                <modacom_slide>
                    <file>modacom_slide.xml</file>
                </modacom_slide>
            </updates>
        </layout>
        <translate>
            <modules>
                <Modacom_Slide>
                    <files>
                        <default>Modacom_Slide.csv</default>
                    </files>
                </Modacom_Slide>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <slide>
                <use>admin</use>
                <args>
                    <module>Modacom_Slide</module>
                    <frontName>slide</frontName>
                </args>
            </slide>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Modacom_Slide>
                    <files>
                        <default>Modacom_Slide.csv</default>
                    </files>
                </Modacom_Slide>
            </modules>
        </translate>
        <menu>
            <cms>
                <children>
                    <slide module="modacom_slide" translate="label">
                        <title>Slides</title>
                        <sort_order>20</sort_order>
                        <action>slide/adminhtml_slide</action>
                    </slide>
                </children>
            </cms>
        </menu>
        <layout>
            <updates>
                <modacom_slide>
                    <file>modacom_slides.xml</file>
                </modacom_slide>
            </updates>
        </layout>
        <translate>
            <modules>
                <Modacom_Slide>
                    <files>
                        <default>Modacom_Slide.csv</default>
                    </files>
                </Modacom_Slide>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <modacom_slide>
                <class>Modacom_Slide_Model</class>
                <resourceModel>modacom_slide_resource</resourceModel>
            </modacom_slide>
            <modacom_slide_resource>
                <class>Modacom_Slide_Model_Resource</class>
                <entities>
                    <slide>
                        <table>slide</table>
                    </slide>
                </entities>
            </modacom_slide_resource>
        </models>
        <resources>
            <modacom_slide_setup>
                <setup>
                    <module>Modacom_Slide</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </modacom_slide_setup>
            <slide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slide_write>
            <slide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slide_read>
        </resources>
        <blocks>
            <modacom_slide>
                <class>Modacom_Slide_Block</class>
            </modacom_slide>
        </blocks>
        <helpers>
            <modacom_slide>
                <class>Modacom_Slide_Helper</class>
            </modacom_slide>
        </helpers>
    </global>
</config>