<?xml version="1.0"?>
<!-- 
/**
 * @category   Modacom
 * @package    Modacom_Settings
 * @author     Miroslav Petrov, Modacom <miroslav.petrov@modacom.com>
 */
 -->
<config>
    <modules>
        <Modacom_Settings>
            <version>0.1.0</version>
        </Modacom_Settings>
    </modules>
    <global>
        <helpers>
            <modacom_settings>
                <class>Modacom_Settings_Helper</class>
            </modacom_settings>
        </helpers>
    </global>
</config>