<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <modacom_settings translate="label" module="modacom_settings">
            <label>Modacom Settings</label>
            <sort_order>0</sort_order>
        </modacom_settings>
    </tabs>
    <sections>
        <modacom_settings_tab module="modacom_settings">
            <label>Site Settings</label>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>modacom_settings</tab>
            <groups>
                <settings>
                    <label>Social media links</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <facebook translate="label">
                            <label>Facebook Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </facebook>
                        <!-- <tumblr translate="label">
                            <label>Tumblr Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tumblr> -->
                        <twitter translate="label">
                            <label>Twitter Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </twitter>
                        <instagram translate="label">
                            <label>Instagram Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instagram>
                    </fields>
                </settings>
            </groups>
        </modacom_settings_tab>
    </sections>
</config>