ul.tabs a.metrilo-section span {
    background: url(favicon-metrilo.png) no-repeat 18px 3px;
    background-size: 23px;
    overflow: hidden;
    padding: 5px 0 5px 50px;
}
ul.tabs a.metrilo-section:hover span {
    background: #D8E6E6 url(favicon-metrilo.png) no-repeat 18px 3px;
    background-size: 23px;
    padding: 5px 0 5px 50px;
}
#metrilo-info {
    float:left;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 7px;
}
#metrilo-info img {
    float:left;
    width:50px;
}
#metrilo-info a {
    color:#378FE2!important;
    margin: 0;
}
#metrilo-info .text {
    float:left;
    margin-left: 10px;
    padding-top: 5px;
}
#metrilo_import_status {
    font-weight: bold;
    vertical-align: middle;
    display: flex;
    padding: 10px 0;
}
#metrilo_import_status img {
    margin-right: 5px;
}