<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <metrilo_analytics translate="label" module="metrilo_analytics">
            <label>Metrilo Analytics</label>
            <sort_order>100</sort_order>
        </metrilo_analytics>
    </tabs>
    <sections>
        <metrilo_analytics_settings module="metrilo_analytics">
            <label>General Settings</label>
            <class>metrilo-section</class>
            <header_css>metrilo-header</header_css>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>metrilo_analytics</tab>
            <groups>
                <settings>
                    <label>General settings</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                        <div id="metrilo-info">
                            <img src="/skin/adminhtml/default/default/metrilo/favicon-metrilo.png" alt="Metrilo" />
                            <div class="text">
                                This module was developed by <a href="http://metrilo.com" target="_blank">Metrilo.com</a><br />
                                If you encounter any issues, let us know at <a href="mailto:support@metrilo.com">support@metrilo.com</a>. We'll be happy to assist you!
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        ]]>
                    </comment>
                    <fields>
                        <enable>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <api_key>
                            <label>API Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable>1</enable></depends>
                        </api_key>
                        <api_secret>
                            <label>API Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable>1</enable></depends>
                        </api_secret>
                        <import translate="label">
                            <label>Import orders</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>metrilo_analytics/adminhtml_system_config_form_button</frontend_model>
                            <sort_order>40</sort_order>
                            <comment>First set API token and secret before import orders</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable>1</enable></depends>
                        </import>
                    </fields>
                </settings>
            </groups>
        </metrilo_analytics_settings>
    </sections>
</config>